{% extends 'dayStarApp/base.html' %} {% load static %}


{% block content %}
  <main class="main" id="main">
    <div class="container">
      <div class="row">
        <div class="sitter col-md-2 d-md-block ml-5 mb-3">
          <h2 class="text-center">{{ count_babys }}</h2>
          <p>
            <span><i class="bi bi-person total-icon"></i></span
            ><strong>Toddlers</strong>
          </p>
        </div>
        <div class="sitter col-md-2 d-md-block ml-5 mb-3">
          <h2 class="text-center heading text-bold">{{ count_sitters }}</h2>
          <p>
            <span><i class="bi bi-people total-icon"></i></span
            ><strong>Sitters</strong>
          </p>
        </div>
        <div class="sitter col-md-2 d-md-block ml-5 mb-3">
          <h2 class="text-center">100</h2>
          <p>
            <span><i class="bi bi-people total-icon"></i></span
            ><strong>Employees</strong>
          </p>
        </div>
        <div class="sitter col-md-2 d-md-block ml-5 mb-3">
          <h2 class="text-center">UGX. 500000</h2>
          <p>
            <span><i class="bi bi-people total-icon"></i></span
            ><strong>Inventories</strong>
          </p>
        </div>
      </div>
    </div> <hr>
    <h1>This will be the main content of the Home page of the appp</h1>
  </main>
{% endblock %}
