{% extends 'dayStarApp/base.html' %} {% load static %}


{% block content %}
  <main class="main" id="main">
    <div class="container">
      <div class="row">
        <div class="sitter col-md-2 d-md-block ml-5 mb-3">
          <h2 class="text-center">{{ count_babys }}</h2>
          <p>
            <span><i class="bi bi-person total-icon"></i></span
            ><strong>Toddlers</strong>
          </p>
        </div>
        <div class="sitter col-md-2 d-md-block ml-5 mb-3">
          <h2 class="text-center heading text-bold">{{ count_sitters }}</h2>
          <p>
            <span><i class="bi bi-people total-icon"></i></span
            ><strong>Sitters</strong>
          </p>
        </div>
        <div class="sitter col-md-2 d-md-block ml-5 mb-3">
          <h2 class="text-center">100</h2>
          <p>
            <span><i class="bi bi-people total-icon"></i></span
            ><strong>Employees</strong>
          </p>
        </div>
        <div class="sitter col-md-2 d-md-block ml-5 mb-3">
          <h2 class="text-center">UGX. 500000</h2>
          <p>
            <span><i class="bi bi-people total-icon"></i></span
            ><strong>Inventories</strong>
          </p>
        </div>
      </div>
    </div>
    <hr />
    <div class="container">
      <a href=""><button class="btn btn-outline-info btn-lg"><span><i class="bi bi-plus"></i></span>Add Sitter <span></span></button></a>
    <div class="col-lg-12 col-md-12 sitter-table mt-3 p-3">
      <!-- Table with stripped rows -->
      <table id="dataTable" class="table table-stripped">
        <thead>
          <tr>
            <th>
              <b>N</b>ames
            </th>
            <th>NIN</th>
            <th>Location</th>
            <th data-type="tel">Contact</th>
            <th>Education Level</th>
            <th>
              <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span><i class="bi bi-three-dots"></i></span>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"><span><i class="bi bi-person-plus"></i></span>Add Sitter</a></li>
                <li><a class="dropdown-item" href="#"><span><i class="bi bi-info"></i></span>View Details</a></li>
                <li><a class="dropdown-item" href="#"><span><i class="bi bi-sliders"></i></span>Others</a></li>
              </ul>
            </div></th>
          </tr>
        </thead>
        <tbody>
          {% for each in all_sitters %}
            <tr>
                <td>{{ each.name }}</td>
                <td>{{ each.NIN }}</td>
                <td>{{ each.location }}</td>
                <td>{{ each.contact }}</td>
                <td>{{ each.education }}</td>
                <td><span><i class="bi bi-eye-slash"></i></span></td>
            </tr>
          {% endfor %}
          
          <tr class="text-danger">
            <td >none</td>
            <td>notprovided</td>
            <td>not from db</td>
            <td>fetch me from db</td>
            <td>am wasting time here</td>
            <td><span><i class="bi bi-eye-slash"></i></span></td>
          </tr>
          <tr>
           <td>Theodore Duran</td>
           <td>CM78DH4F453SU5</td>
           <td>Dhanbad</td>
           <td>1999/04/07</td>
           <td>97%</td>
           <td><span><i class="bi bi-eye-slash"></i></span></td>
         </tr>
          <tr>
           <td>Theodore Duran</td>
           <td>CM78DH4F453SU5</td>
           <td>Dhanbad</td>
           <td>1999/04/07</td>
           <td>97%</td>
           <td><span><i class="bi bi-eye-slash"></i></span></td>
         </tr>
        </tbody>
      </table>
    </div>
  </main>


{% endblock %}
