{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="{% static '/css/style.css' %}" />
<title>Admin Login</title>
</head>
<body>
    <div class="container" id="admin-login">
        <form action="" method="POST" class="bg-light admin-form p-3 mt-5">
            <h2 class="mt-5 text-center ">
                Admin Login
            </h2>
            <br>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary mt-5 float-right">Submit</button>
        </form>
    </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>
<!-- 
{% block content %}
   



{% endblock %} -->