{% extends 'dayStarApp/base.html' %} {% load static %}  {% block content %}
<main class="main" id="main">
  <div class="container">
    <form
      action=""
      method="POST"
      novalidate="false"
      class="bg-light p-5 mt-5 rounded-30 shadow-lg form"
      id="form"
    >
    <h2 class="mt-3 text-center">Register a Baby Sitter Here.</h2><hr>
    <!-- {% if message != None %}
      <div class="alert alert-success" role="alert">
        {{ message }}
      </div>
    {% endif %} -->
    {% csrf_token %}
    {% for form_field in form %}
    
        <div class="mb-2 {% if form_field.errors %}errors{% endif %} form_inner">
            {{ form_field.label_tag }}
            {{ form_field }}
            {{ form_field.errors }}
        </div>
        
    {% endfor %}       
      <button class="btn" style="background: #1e7875; color: white; width: 80%; display: grid; margin: auto;">Submit</button>
    </form>
  </div>
</main>

{% endblock %}
