{% extends 'dayStarApp/base.html' %} {% load crispy_forms_tags %} {% load static %}


{% block content %}
<main class="main" id="main">
<div class="container">
    <!-- Add item Model -->
    <button
    type="button" class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
    >
      Add item
    </button>
    <div
        class="modal fade"
        id="staticBackdrop"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        data-bs-keyboard="false"
        data-bs-backdrop="static"
        aria-hidden="true">
      
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-center" id="exampleModalLabel">Add Sold items</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form action="" method="POST">
                {% if message == None %}
                  <div class="alert alert-success" role="alert">
                    {{ message }}
                  </div>
                {% else %}
                  <div class="alert alert-danger" role="alert">
                    {{ message }}
                  </div>
                {% endif %} 
                {% csrf_token %}
                {{ addSalesForm|crispy }}
                <button class="btn btn-primary">Add</button>
              </form>
            </div>
            <div class="modal-footer">
              <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
              >
              Cancel
            </button>
          </div>
        </div>
      </div>
      </div>
      </div>
    <!-- add item modal end -->

    <!-- item table -->
    <div class="col-lg-12 col-md-12 sitter-table mt-3 p-2">
      <table class="table table-bordered table-stripped mt-3">
        <caption class="caption-top text-center"><h4>Sold item List</h4></caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Apple</td>
            <td>15</td>
            <td>2500</td>
            <td>UGX. 37500</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Chocolate Biscuits</td>
            <td>9</td>
            <td>2500</td>
            <td>UGX. 22500</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Oner</td>
            <td>30</td>
            <td>2000</td>
            <td>UGX. 60000</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Kick Snacks</td>
            <td>70</td>
            <td>1500</td>
            <td>UGX. 105000</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Gorillos</td>
            <td>150</td>
            <td>1000</td>
            <td>UGX. 150000</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Sodas</td>
            <td>30</td>
            <td>1000</td>
            <td>UGX. 30000</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Sweet Bananas</td>
            <td>58</td>
            <td>500</td>
            <td>UGX. 29000</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Pampers</td>
            <td>78</td>
            <td>1500</td>
            <td>UGX. 117000</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>Milk</td>
            <td>23</td>
            <td>2000</td>
            <td>UGX. 46000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

{% endblock %}